*{
    margin:0 ;
}
main section{
        margin: 50px auto;
}
/* banner */
#banner{
    background-image: url(../images/Banner\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    filter: brightness(80%);
 
}
#banner h3,h1{
    color:#FFFFFF;
}
.banner-content{
    
    width:632px ;
    height:246px ;
    
}
#banner h3{
    font-size: 32px;
    font-style:Merriweather ;
    margin-bottom: 16px;
}
#banner h1{
    font-size: 72px;
}
/* offer */
#offer{
    text-align: center;
}
#offer .off{
    color: red;
    font-weight:bold ;
    font-size: 88px;
    margin-bottom: 72px;
}
#offer h3{
    color: red;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}
#offer .all{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
}
