*{
    margin:0 ;
}
main section{
        margin: 50px auto;
}
/* banner */
#banner{
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    filter: brightness(80%);
   margin-bottom: 100px;
}
#banner h3,h1{
    color:#FFFFFF;
}
.banner-content{
    
    width:632px ;
    height:246px ;
    
}
#banner h3{
    font-size: 32px;
    font-style:Merriweather ;
    margin-bottom: 16px;
}
#banner h1{
    font-size: 72px;
}
/* offer */
#offer{
    text-align: center;
    margin-bottom: 100px;
}
#offer .off{
    color: red;
    font-weight:bold ;
    font-size: 88px;
    margin-bottom: 60px;
}
#offer h3{
    color: red;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}
#offer .all{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
}
/* party */
#party{
    background-image: url(../images/Vectorrr.png);
    height:600px ;
    width:1320px ;
    align-items: center;
    margin-bottom: 100px;
    
}
.party-container{
display: flex;
justify-content: space-between;
padding: 75px 100px;
align-items: center;
gap: 10px;
}
.party-content h2{
    font-weight: black;
    color: #FFFFFF;
    font-size: 64px;
    width: 642px;
    height: 176px;
}
.party-content p{
    color:#FFFFFF80 ;
    font-size:18px ;
    width: 697px;
    height: 60px;
    margin-bottom: 20px;
}
.party-btn{
    background: none;
    font-size:20px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
}
/* meeting */
#meeting{
    margin-bottom: 100px;
       height:482px;
       width:1320px;
}
.meeting-content{
    padding: 200px;
    text-align: center;
    background:linear-gradient(#ff000062,#ff000007);
    border-radius: 16px;

}
.meeting-content p{
    font-weight: 600px;
    font-size: 32px;
}
.meeting-content p span{
    color: #ff0000;
}
.ptn{
    background-color: #ff0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 60px;
    border: none;

}


