*{
    margin:0 ;
}
main section{
        margin: 50px auto;
}
/* banner */
#banner{
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    filter: brightness(80%);
   margin-bottom: 100px;
}
#banner h3,h1{
    color:#FFFFFF;
}
.banner-content{
    
    width:632px ;
    height:246px ;
    
}
#banner h3{
    font-size: 32px;
    font-style:Merriweather ;
    margin-bottom: 16px;
}
#banner h1{
    font-size: 72px;
}
/* offer */
#offer{
    text-align: center;
    margin-bottom: 100px;
}
#offer .off{
    color: red;
    font-weight:bold ;
    font-size: 88px;
    margin-bottom: 60px;
}
#offer h3{
    color: red;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}
#offer .all{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px;
}
/* party */
#party{
    background-image: url(../images/Vectorrr.png);
    height:600px ;
    width:1320px ;
    align-items: center;
    margin-bottom: 100px;
    
}
.party-container{
display: flex;
justify-content: space-between;
padding: 75px 100px;
align-items: center;
gap: 10px;
}
.party-content h2{
    font-weight: black;
    color: #FFFFFF;
    font-size: 64px;
    width: 642px;
    height: 176px;
}
.party-content p{
    color:#FFFFFF80 ;
    font-size:18px ;
    width: 697px;
    height: 60px;
    margin-bottom: 20px;
}
.party-btn{
    background: none;
    font-size:20px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
}
/* meeting */
#meeting{
    margin-bottom: 100px; 
       height:482px;
       width:1320px;
}
.meeting-content{
    padding: 100px;
    text-align: center;
    background:linear-gradient(#ff000062,#ff000007);
    border-radius: 16px;

}
.meeting-content p{
    font-weight: 600px;
    font-size: 32px;
}
.meeting-content p span{
    color: #ff0000;
}
.ptn{
    background-color: #ff0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 60px;
    border: none;
}
/* dolor */
#dolor{
     margin-top: 100px;
     width: 1320px;
     height: 463px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
   
}
.d-img{
    border:5px solid #ff0000;
    border-radius: 50%;
    padding: 10px;
    width: 463px;
    height: 463px;
}
.coming-soon {
    height:255px ;
    width:393px ;
}
.coming-soon h3{
    color: #ff0000;
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 8px;
}
.coming-soon h2{
    font-size: 48px;
    margin-bottom: 22px;
    color: black;
}
.coming-soon,.dolor-date p{
    font-size: 20px;
    color:#07021183 ;
}
.dolor-date h2{
    color: #ff0000;
    font-size: 48px;
    margin-bottom: 16px;
}
.data-1{
    width: 276px;
    margin-bottom:16px;
}
/* gift */
#gift{
    width: 1320px;
    height: 987px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.gift-content{
    text-align: center;
    margin-bottom: 64px;
}
.gift-content h3{
    margin-bottom: 16px;
    font-size:24px ;
    font-weight:600px ;
}
.gift-content h2{
    font-size:72px;
    font-weight:black;
    margin-bottom: 28px;
}
.gift-content h2 span{
    color: red;
}
.gift-content,.img-content,#form p{
    font-size: 20px;
    color: #0702119e;
    margin-bottom: 30px;
}
.box{
    position:left;
}
.box-2{
    padding: 0px 0px 250px 100px;
}
.gift-container{
    background-image: url(../images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;  
}
/* images */
#image{
    width:1320px ;
    height: 1163px;
    margin-bottom: 100px;
}
.img-content h2 {
    color: #ff0000;
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 8px;
}
.img-content h3{
    font-size:48px ;
    font-weight:black ;
    margin-bottom:8px ;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* gmail */
#form{
    width:1120px ;
    /* height: 616px; */
   text-align: center;
    background:linear-gradient(#ff000091,#ff000007);
    border-radius:16px ;
    padding:100px;
}
#form img{
    margin-bottom: 30px;
}
#form h2{
    margin-bottom: 22px;
    font-size: 48px;
}
.email{
    height: 71px;
    width: 418px;
    position:start;
    background-color: #FFFFFF;
    color: #0702119e;
    margin-right: 0;
    border: none;
    font-size: 18px;
    border-radius: 50px 0 0 50px;
    padding-left: 10px;
}
.submit{
    width: 210px;
    height: 72px;
    margin: 0;
    background-color: #ff0000;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 0 50px 50px 0;
}
/* footer */
footer{
    background-color: black;   
}
.footer-content{
    padding: 100px;
}
.address{
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}
.address-header{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: medium;
}
.contact a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    margin-right: 100px;
    margin-top: 0;
}
.footer-img{
    text-align: center;
    padding: 50px;
}
.footer-img img{
    margin-right: 10px;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size:24px;
    padding: 50px 100px 50px 0;
}
